# Node.js
node_modules/
npm-debug.log*

# 환경 설정 파일
.env

# 로그 파일
logs/
*.log

# 빌드 출력 디렉터리
dist/
build/

# 운영체제 또는 편집기별 파일
.DS_Store
Thumbs.db
.idea/
.vscode/

# 특정 IDE 설정 파일
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*.so

# Java
*.class
*.jar
*.war
*.ear

# Temporary files
*.tmp
*.temp
